<!DOCTYPE hmtml>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>CNMN</title>

</head>
<body>
	<link rel="stylesheet"  type="text/css" href="../css/bootstrap.css">
	<script src="https://kit.fontawesome.com/8d86f52526.js" crossorigin="anonymous"></script>
	<script src="../jq/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>